footer {
  background-color: $light-bg;
  color: $light-text;
  text-align: center;
  padding: 1.5rem;
  border-top: 2px solid $border-light;
  font-size: 0.9rem;
  position: relative;
  @include transition(background-color);

  .mode-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: $btn-add-light;
    color: $dark-text;
    border: none;
    border-radius: 5px;
    padding: 6px 12px;
    cursor: pointer;
    font-weight: bold;

    &:hover { background-color: #333; color: #fff; }
  }
}

/* Dark Mode Footer */
body.dark-mode footer {
  background-color: $dark-bg;
  color: $dark-text;
  border-top: 2px solid $border-dark;

  .mode-btn {
    background-color: $btn-add-dark;
    color: $dark-bg;

    &:hover { background-color: lighten($btn-add-dark,10%); }
  }
}
